<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d9d18d">  <td>21/01/12 12:23:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Second.EmailBlank()[pri:1, instance:ScreenShot.Second@fd07cbb]">EmailBlank</td> 
  <td>main@170144208</td>   <td></td> </tr>
<tr bgcolor="d9d18d">  <td>21/01/12 12:24:07</td>   <td>11433</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Second.Passwordblank()[pri:2, instance:ScreenShot.Second@fd07cbb]">Passwordblank</td> 
  <td>main@170144208</td>   <td></td> </tr>
<tr bgcolor="d9d18d">  <td>21/01/12 12:23:45</td>   <td>-9811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Second.afterClass()[pri:0, instance:ScreenShot.Second@fd07cbb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td>  <td>main@170144208</td>   <td></td> </tr>
<tr bgcolor="d9d18d">  <td>21/01/12 12:23:56</td>   <td>1059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Second.afterClass()[pri:0, instance:ScreenShot.Second@fd07cbb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td>  <td>main@170144208</td>   <td></td> </tr>
<tr bgcolor="d9d18d">  <td>21/01/12 12:24:08</td>   <td>12863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Second.afterClass()[pri:0, instance:ScreenShot.Second@fd07cbb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td>  <td>main@170144208</td>   <td></td> </tr>
<tr bgcolor="d9d18d">  <td>21/01/12 12:23:33</td>   <td>-21859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Second.beforeClass()[pri:0, instance:ScreenShot.Second@fd07cbb]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td>  <td>main@170144208</td>   <td></td> </tr>
<tr bgcolor="d9d18d">  <td>21/01/12 12:23:46</td>   <td>-9075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Second.beforeClass()[pri:0, instance:ScreenShot.Second@fd07cbb]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td>  <td>main@170144208</td>   <td></td> </tr>
<tr bgcolor="d9d18d">  <td>21/01/12 12:23:57</td>   <td>1820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Second.beforeClass()[pri:0, instance:ScreenShot.Second@fd07cbb]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td>  <td>main@170144208</td>   <td></td> </tr>
<tr bgcolor="d9d18d">  <td>21/01/12 12:23:44</td>   <td>-11220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Second.bothvalueblank()[pri:0, instance:ScreenShot.Second@fd07cbb]">bothvalueblank</td> 
  <td>main@170144208</td>   <td></td> </tr>
</table>
