<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>TestNGPCKG.addtocartBC</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>blankretypepassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Mobilenumberblank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validdetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>passwordblank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>gjgjjg</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginbothvalueblank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Cp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddtoCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>profileAllvalue</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validfirstname</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>emailblank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>invalidnewpassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>mismatchpassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>passwordallblank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>profileallvalueblank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>updationmessage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
