<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2b467">  <td>21/01/08 12:10:40</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;addtocartBC.beforeTest()[pri:0, instance:TestNGPCKG.addtocartBC@4e268090]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1100832489</td>   <td></td> </tr>
<tr bgcolor="a2b467">  <td>21/01/08 12:10:40</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;addtocartBC.beforeTest()[pri:0, instance:TestNGPCKG.addtocartBC@45ca843]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1411505517</td>   <td></td> </tr>
<tr bgcolor="e6f7ac">  <td>21/01/08 12:10:40</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SC_sign.beforeClass(java.lang.String)[pri:0, instance:TestNGPCKG.addtocartBC@4e268090]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1100832489</td>   <td></td> </tr>
<tr bgcolor="e6f7ac">  <td>21/01/08 12:10:40</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SC_sign.beforeClass(java.lang.String)[pri:0, instance:TestNGPCKG.addtocartBC@45ca843]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1411505517</td>   <td></td> </tr>
<tr bgcolor="e6f7ac">  <td>21/01/08 12:10:47</td>   <td>7582</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_sign.gjgjjg()[pri:0, instance:TestNGPCKG.addtocartBC@45ca843]">gjgjjg</td> 
  <td>TestNG-tests-1@1411505517</td>   <td></td> </tr>
<tr bgcolor="e6f7ac">  <td>21/01/08 12:10:48</td>   <td>8646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_sign.gjgjjg()[pri:0, instance:TestNGPCKG.addtocartBC@4e268090]">gjgjjg</td> 
  <td>TestNG-tests-2@1100832489</td>   <td></td> </tr>
<tr bgcolor="89dabe">  <td>21/01/08 12:11:29</td>   <td>49667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_New_Login.loginbothvalueblank()[pri:0, instance:TestNGPCKG.addtocartBC@45ca843]">loginbothvalueblank</td> 
  <td>TestNG-tests-1@1411505517</td>   <td></td> </tr>
<tr bgcolor="89dabe">  <td>21/01/08 12:11:34</td>   <td>54977</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_New_Login.passwordblank()[pri:11, instance:TestNGPCKG.addtocartBC@45ca843]">passwordblank</td> 
  <td>TestNG-tests-1@1411505517</td>   <td></td> </tr>
<tr bgcolor="89dabe">  <td>21/01/08 12:11:35</td>   <td>55493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_New_Login.emailblank()[pri:12, instance:TestNGPCKG.addtocartBC@45ca843]">emailblank</td> 
  <td>TestNG-tests-1@1411505517</td>   <td></td> </tr>
<tr bgcolor="89dabe">  <td>21/01/08 12:11:36</td>   <td>56062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_New_Login.validdetails()[pri:13, instance:TestNGPCKG.addtocartBC@45ca843]">validdetails</td> 
  <td>TestNG-tests-1@1411505517</td>   <td></td> </tr>
<tr bgcolor="bc9687">  <td>21/01/08 12:11:45</td>   <td>65298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_ChangeprofileBC.profileallvalueblank()[pri:14, instance:TestNGPCKG.addtocartBC@45ca843]">profileallvalueblank</td> 
  <td>TestNG-tests-1@1411505517</td>   <td></td> </tr>
<tr bgcolor="89dabe">  <td>21/01/08 12:11:49</td>   <td>69629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_New_Login.loginbothvalueblank()[pri:0, instance:TestNGPCKG.addtocartBC@4e268090]">loginbothvalueblank</td> 
  <td>TestNG-tests-2@1100832489</td>   <td></td> </tr>
<tr bgcolor="89dabe">  <td>21/01/08 12:11:55</td>   <td>75048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_New_Login.passwordblank()[pri:11, instance:TestNGPCKG.addtocartBC@4e268090]">passwordblank</td> 
  <td>TestNG-tests-2@1100832489</td>   <td></td> </tr>
<tr bgcolor="89dabe">  <td>21/01/08 12:11:55</td>   <td>75520</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_New_Login.emailblank()[pri:12, instance:TestNGPCKG.addtocartBC@4e268090]">emailblank</td> 
  <td>TestNG-tests-2@1100832489</td>   <td></td> </tr>
<tr bgcolor="89dabe">  <td>21/01/08 12:11:56</td>   <td>76128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_New_Login.validdetails()[pri:13, instance:TestNGPCKG.addtocartBC@4e268090]">validdetails</td> 
  <td>TestNG-tests-2@1100832489</td>   <td></td> </tr>
<tr bgcolor="bc9687">  <td>21/01/08 12:11:57</td>   <td>77511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_ChangeprofileBC.validfirstname()[pri:15, instance:TestNGPCKG.addtocartBC@45ca843]">validfirstname</td> 
  <td>TestNG-tests-1@1411505517</td>   <td></td> </tr>
<tr bgcolor="bc9687">  <td>21/01/08 12:11:57</td>   <td>77859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_ChangeprofileBC.Mobilenumberblank()[pri:16, instance:TestNGPCKG.addtocartBC@45ca843]">Mobilenumberblank</td> 
  <td>TestNG-tests-1@1411505517</td>   <td></td> </tr>
<tr bgcolor="bc9687">  <td>21/01/08 12:11:58</td>   <td>78207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_ChangeprofileBC.profileAllvalue()[pri:17, instance:TestNGPCKG.addtocartBC@45ca843]">profileAllvalue</td> 
  <td>TestNG-tests-1@1411505517</td>   <td></td> </tr>
<tr bgcolor="bc9687">  <td>21/01/08 12:12:01</td>   <td>81675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_ChangeprofileBC.updationmessage()[pri:18, instance:TestNGPCKG.addtocartBC@45ca843]">updationmessage</td> 
  <td>TestNG-tests-1@1411505517</td>   <td></td> </tr>
<tr bgcolor="9982de">  <td>21/01/08 12:12:01</td>   <td>81757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_ChangepasswordBC.passwordallblank()[pri:19, instance:TestNGPCKG.addtocartBC@45ca843]">passwordallblank</td> 
  <td>TestNG-tests-1@1411505517</td>   <td></td> </tr>
<tr bgcolor="bc9687">  <td>21/01/08 12:12:05</td>   <td>85069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_ChangeprofileBC.profileallvalueblank()[pri:14, instance:TestNGPCKG.addtocartBC@4e268090]">profileallvalueblank</td> 
  <td>TestNG-tests-2@1100832489</td>   <td></td> </tr>
<tr bgcolor="9982de">  <td>21/01/08 12:12:10</td>   <td>90385</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_ChangepasswordBC.Cp()[pri:21, instance:TestNGPCKG.addtocartBC@45ca843]">Cp</td> 
  <td>TestNG-tests-1@1411505517</td>   <td></td> </tr>
<tr bgcolor="9982de">  <td>21/01/08 12:12:10</td>   <td>90804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_ChangepasswordBC.invalidnewpassword()[pri:22, instance:TestNGPCKG.addtocartBC@45ca843]">invalidnewpassword</td> 
  <td>TestNG-tests-1@1411505517</td>   <td></td> </tr>
<tr bgcolor="9982de">  <td>21/01/08 12:12:11</td>   <td>91157</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_ChangepasswordBC.blankretypepassword()[pri:23, instance:TestNGPCKG.addtocartBC@45ca843]">blankretypepassword</td> 
  <td>TestNG-tests-1@1411505517</td>   <td></td> </tr>
<tr bgcolor="9982de">  <td>21/01/08 12:12:11</td>   <td>91869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_ChangepasswordBC.mismatchpassword()[pri:24, instance:TestNGPCKG.addtocartBC@45ca843]">mismatchpassword</td> 
  <td>TestNG-tests-1@1411505517</td>   <td></td> </tr>
<tr bgcolor="a2b467">  <td>21/01/08 12:12:12</td>   <td>92462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="addtocartBC.AddtoCart()[pri:25, instance:TestNGPCKG.addtocartBC@45ca843]">AddtoCart</td> 
  <td>TestNG-tests-1@1411505517</td>   <td></td> </tr>
<tr bgcolor="bc9687">  <td>21/01/08 12:12:20</td>   <td>100863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_ChangeprofileBC.validfirstname()[pri:15, instance:TestNGPCKG.addtocartBC@4e268090]">validfirstname</td> 
  <td>TestNG-tests-2@1100832489</td>   <td></td> </tr>
<tr bgcolor="bc9687">  <td>21/01/08 12:12:21</td>   <td>101362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_ChangeprofileBC.Mobilenumberblank()[pri:16, instance:TestNGPCKG.addtocartBC@4e268090]">Mobilenumberblank</td> 
  <td>TestNG-tests-2@1100832489</td>   <td></td> </tr>
<tr bgcolor="bc9687">  <td>21/01/08 12:12:21</td>   <td>101820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_ChangeprofileBC.profileAllvalue()[pri:17, instance:TestNGPCKG.addtocartBC@4e268090]">profileAllvalue</td> 
  <td>TestNG-tests-2@1100832489</td>   <td></td> </tr>
<tr bgcolor="bc9687">  <td>21/01/08 12:12:26</td>   <td>106404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_ChangeprofileBC.updationmessage()[pri:18, instance:TestNGPCKG.addtocartBC@4e268090]">updationmessage</td> 
  <td>TestNG-tests-2@1100832489</td>   <td></td> </tr>
<tr bgcolor="9982de">  <td>21/01/08 12:12:26</td>   <td>106563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_ChangepasswordBC.passwordallblank()[pri:19, instance:TestNGPCKG.addtocartBC@4e268090]">passwordallblank</td> 
  <td>TestNG-tests-2@1100832489</td>   <td></td> </tr>
<tr bgcolor="9982de">  <td>21/01/08 12:12:36</td>   <td>116605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_ChangepasswordBC.Cp()[pri:21, instance:TestNGPCKG.addtocartBC@4e268090]">Cp</td> 
  <td>TestNG-tests-2@1100832489</td>   <td></td> </tr>
<tr bgcolor="9982de">  <td>21/01/08 12:12:37</td>   <td>116993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_ChangepasswordBC.invalidnewpassword()[pri:22, instance:TestNGPCKG.addtocartBC@4e268090]">invalidnewpassword</td> 
  <td>TestNG-tests-2@1100832489</td>   <td></td> </tr>
<tr bgcolor="9982de">  <td>21/01/08 12:12:37</td>   <td>117379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_ChangepasswordBC.blankretypepassword()[pri:23, instance:TestNGPCKG.addtocartBC@4e268090]">blankretypepassword</td> 
  <td>TestNG-tests-2@1100832489</td>   <td></td> </tr>
<tr bgcolor="9982de">  <td>21/01/08 12:12:37</td>   <td>117773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SC_ChangepasswordBC.mismatchpassword()[pri:24, instance:TestNGPCKG.addtocartBC@4e268090]">mismatchpassword</td> 
  <td>TestNG-tests-2@1100832489</td>   <td></td> </tr>
<tr bgcolor="a2b467">  <td>21/01/08 12:12:38</td>   <td>118194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="addtocartBC.AddtoCart()[pri:25, instance:TestNGPCKG.addtocartBC@4e268090]">AddtoCart</td> 
  <td>TestNG-tests-2@1100832489</td>   <td></td> </tr>
<tr bgcolor="e6f7ac">  <td>21/01/08 12:12:57</td>   <td>137971</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SC_sign.afterClass()[pri:0, instance:TestNGPCKG.addtocartBC@45ca843]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1411505517</td>   <td></td> </tr>
<tr bgcolor="a2b467">  <td>21/01/08 12:12:57</td>   <td>137971</td> <td>&nbsp;</td><td title="&lt;&lt;addtocartBC.afterTest()[pri:0, instance:TestNGPCKG.addtocartBC@45ca843]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1411505517</td>   <td></td> </tr>
<tr bgcolor="e6f7ac">  <td>21/01/08 12:13:22</td>   <td>162396</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SC_sign.afterClass()[pri:0, instance:TestNGPCKG.addtocartBC@4e268090]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1100832489</td>   <td></td> </tr>
<tr bgcolor="a2b467">  <td>21/01/08 12:13:22</td>   <td>162397</td> <td>&nbsp;</td><td title="&lt;&lt;addtocartBC.afterTest()[pri:0, instance:TestNGPCKG.addtocartBC@4e268090]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1100832489</td>   <td></td> </tr>
</table>
